@import-normalize;

/**
 * Add the correct display in IE 9-.
 */
* {
  font-family: 'Roboto', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: #152744;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #fff
}

audio,
video {
  display: inline-block;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
